<!--pods.html-->
{% extends "base.html" %}
{% block nav-item-1 %}layui-nav-itemed{% endblock %}
{% block nav-child-1-1 %}layui-this{% endblock %}
{% block content %}
    {% csrf_token %}
    <div id="ck">
        <form class="layui-form" onsubmit="return false">
            <div class="layui-form-item">
                <label class="layui-form-label">资源目标名</label>
                <div class="layui-input-block">
                    <input type="text" name="name" lay-verify="name" placeholder="请输入"
                           class="layui-input" style="width: 800px" value="{{ name }}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">资源类型</label>
                <div class="layui-input-block">
                    <input type="text" name="type" lay-verify="type" placeholder="请输入"
                           class="layui-input" style="width: 800px" value="{{ type }}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">区域</label>
                <div class="layui-input-block">
                    <input type="text" name="area" lay-verify="area" placeholder="请输入"
                           class="layui-input" style="width: 800px" value="{{ area }}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">参数</label>
                <div class="layui-input-block">
                    <input type="text" name="para" lay-verify="para" placeholder="请输入"
                           class="layui-input" style="width: 800px" value="{{ para }}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">资源网页</label>
                <div class="layui-input-block">
                    <input type="text" name="url" lay-verify="url" placeholder="请输入"
                           class="layui-input" style="width: 800px" value="{{ url }}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">刷新率</label>
                <div class="layui-input-block" style="width: 800px">
                    <input type="text" name="frequency" lay-verify="frequency" placeholder="请输入"
                           class="layui-input" value="{{ frequency }}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">存放表</label>
                <div class="layui-input-block" style="width: 800px">
                    <input type="text" name="table_name" lay-verify="table_name" placeholder="请输入"
                           class="layui-input" value="{{ table_name }}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">属性选择框</label>
                <div class="layui-input-block" style="width: 800px">
                    <select name="tagid">
                        <option value=""></option>
                        {% for item in taglist_id %}
                            <option value="{{ item }}">{{ item }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="btn">立即提交</button>
                </div>
            </div>
        </form>
    </div>
    <script src="/static/layui/layui.js"></script>

    <script>
        layui.use(['layer', 'form', 'jquery'], function () {
            var layer = layui.layer,
                form = layui.form,
                $ = layui.jquery,
                csrf_token = $('[name="csrfmiddlewaretoken"]').val();
            form.on('submit(btn)', function (data) {
                data = data.field;
                data['urlid'] = '{{ urlid }}';
                if (data['urlid'] != 'False') {
                    console.log('PUT')
                    $.ajax({
                        url: '{% url 'Urllist_func' %}',
                        type: 'PUT',
                        async: false,
                        data: data,
                        headers: {'X-CSRFToken': csrf_token},
                        // 提交成功回调函数
                        success: function (res) {
                            if (res.code == '0') {
                                layer.msg(res.msg, {icon: 6, time: 20000, btn: ['返回界面']}, function () {
                                    window.location.href = '{% url 'mnc' %}'
                                });
                            } else {
                                layer.msg(res.msg, {icon: 5})
                            }
                        },
                        // 访问接口失败函数
                        error: function (res) {
                            layer.msg("服务器接口异常！", {icon: 5})
                        },
                    })
                } else {
                    console.log('POST')
                    $.ajax({
                        url: '{% url 'Urllist_func' %}',
                        type: 'POST',
                        async: false,
                        data: data,
                        headers: {'X-CSRFToken': csrf_token},
                        // 提交成功回调函数
                        success: function (res) {
                            if (res.code == '0') {
                                layer.msg(res.msg, {icon: 6, time: 20000, btn: ['返回界面']}, function () {
                                    window.location.href = '{% url 'mnc' %}'
                                });
                            } else {
                                layer.msg(res.msg, {icon: 5})
                            }
                        },
                        // 访问接口失败函数
                        error: function (res) {
                            layer.msg("服务器接口异常！", {icon: 5})
                        },
                    })
                }

            });
        })
    </script>
{% endblock %}